.nav {
    display: none; 
    padding: 2rem;
    flex-direction: column;
    gap: 2em;
    height: 100%;
    position: fixed;
    inset: 0 auto;
    border-right: 1px solid rgba(113, 128, 150, 0.15);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.list {
    width: 10em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.list_item {
    list-style: none;
    padding: 0.25em 0;
    transition: all 0.1s ease-in-out;
}

.list_link {
    display: flex;
    align-items: center;
    gap: 0.75em;
    transition: all 0.1s ease-in-out;
}

.list_link:hover {
    color: var(--accent);
}

@media (min-width: 768px) {
    .nav {
        display: flex;
    }
}