:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  
  --text: #DDD4CC;
  --primary-color: #573C27;
  --secondary-color: #22333B;
  --accent: #A9927D;

  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

main {
  padding-left: 14em;
}
  
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  margin: 0 auto
}

body {
  padding: 1rem;
}

a {
  color: var(--text);
  text-decoration: none;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
